.previewWrapper {
  min-height: 100vh;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.previewWrapper h2{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}
.previewCard {
  background: white;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.previewImage {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.previewTitle {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}

.previewAmount {
  color: #ff8a65;
  font-weight: 600;
  margin-bottom: 10px;
}

.previewStory {
  font-size: 14px;
  color: #ff8888;
}

.previewButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.editBtn {
  padding: 10px 15px;
  background: transparent;
  color:#ff8a65;
  border: 1px solid #FF8A65;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.submitBtn {
  padding: 10px 15px;
  background: #ff8a65;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popupBox {
  background: white;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  width: 300px;
}

.popupBtn {
  margin-top: 15px;
  padding: 10px 15px;
  background: #ff8a65;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}