* {
  box-sizing: border-box;
}

/* Global */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* Page wrapper (IMPORTANT for fixed header + footer) */
.page {
  padding-top: 50px;
  padding-bottom: 90px; /* prevents overlap with bottom bar */
}

/* Header */
.header {
  padding: 10px 16px;
  text-align: left;
}

/* Top Box */
.topBox {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.subtitle {
  color: #666;
  margin: 10px;
  text-align: left;
}

/* Card */
.card {
  background: #fff;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  position: relative;
}

/* 🔴 Error state */
.cardError {
  border: 2px solid #ff4d4f;
  animation: shake 0.3s ease-in-out;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

/* Group */
.group {
  margin-bottom: 20px;
}

.groupTitle {
  font-weight: 500;
}

.groupTitle span {
  font-size: 12px;
  color: #777;
}

/* Buttons Row */
.btnRow {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.btnRow button {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
  transition: 0.2s;
  color: grey;
}

.btnRow button:hover {
  border-color: #22c55e;
}

.activeBtn {
  border: 2px solid #22c55e;
  background: #ecfdf5;
  color: #166534;
}

/* Divider */
.divider {
  height: 1px;
  background: #ddd;
  margin: 20px 0;
}

/* NGO */
.ngo {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: 0.2s;
  background-color: #ffffff;
}

.ngo:hover {
  border-color: #22c55e;
}
/* Error text */
.error {
  color: #ff4d4f;
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
}

/* Bottom Bar */
.bottomBar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(135deg, #f8af99, #FF8A65);
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 9999;
}

/* Continue Button */
.continueBtn {
  background: white;
  color: #FF8A65;
  border: none;
  padding: 12px 20px;
  margin-right: 20px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.continueBtn:hover {
  transform: scale(1.05);
}